# Python virtual environments
.venv/
venv/
env/
__pycache__/
*.pyc

# Large datasets (Excludes all CSV files)
*.csv - remove to allow Streamlit to work

# Streamlit specific configuration and secrets
.streamlit/secrets.toml
.streamlit/config.toml

# IDE configuration folders
.vscode/
.idea/

# OS-specific system files
.DS_Store
Thumbs.db